.log {
    float: right;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}
input {
    padding: 0px 0px;
}
input[type="file"] {
    display: none;
}

.button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 6px 20px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}
/*----- FRONT PAGE -----*/
/*----- Name -----*/
.inputhomeimg {
    max-width: 100%;
}
.labelhome {
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    margin-left: 0px;
    margin-top: 0px;
    padding-right: 50px;
    padding-left: 800px;
    padding-top: 190px;
}
.inputfullname {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*text-shadow: #A8A8A8 0.0001em 0 15px;*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 550px;
}
.inputprofession {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*text-shadow: #A8A8A8 0.0001em 0 15px;*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 300px;
}
/*----- ABOUT -----*/
/*----- Heading -----*/

.portfoliosmall h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.inputhello {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 450px;
    height: 50px;
    margin-top: 160px;
    margin-left: 64px;
}
.inputabout {
    float: left;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
    width: 450px;
}
.inputaboutimg {
    width: 300px;
    float: left;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 180px;
    padding-right: 180px;
}
label{
    margin-left: 100px;
    margin-top: 130px;
    margin-bottom: 10px;
    background: #F0F0F0;
    display: table;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
}

/*----- SKILLS -----*/

.inputskillsh {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-right: 5px;
    float: left;
}
.inputskills {
    width: 70px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*----- EXPERIENCE -----*/

.inputtime {
    width: 100px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: crimson;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputtitle {
    width: 200px;
    font-family: 'Questrial', sans-serif;
    font-size: 11px;
    color: black;
    letter-spacing: 0.2em;
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputcompany {
    width: 250px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: goldenrod;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputschool {
    width: 250px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputdesc {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*----- PORTFOLIO -----*/
.portfoliosmall {
    padding-bottom: 10px;
}
.labelportfolio {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 100px;
    padding-right: 100px;
}

.inputportfolioname {
    font-family: 'Roboto', sans-serif;
    color: darkgoldenrod;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 100%;
}

.inputportfolioinfo {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 13px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.1em;
    width: 100%;
}
/*----- CONTACT -----*/
.inputcontact {
    width: 170px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}