.log {
    float: right;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}
input {
    padding: 0px 0px;
}
.button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 6px 20px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-left: 2px;
}
/*----- FRONT PAGE -----*/
/*----- Name -----*/

.inputfullname {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*text-shadow: #A8A8A8 0.0001em 0 15px;*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 550px;
}
.inputprofession {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*text-shadow: #A8A8A8 0.0001em 0 15px;*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 300px;
}
/*----- ABOUT -----*/
/*----- Heading -----*/
.inputhello {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 450px;
    height: 50px;
    margin-left: 27px;
}
.inputabout {
    float: left;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
    width: 450px;
}

/*----- SKILLS -----*/

.inputskillsh {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-right: 5px;
    float: left;
}
.inputskills {
    width: 70px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*----- EXPERIENCE -----*/

.inputtime {
    width: 100px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: crimson;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputtitle {
    width: 200px;
    font-family: 'Questrial', sans-serif;
    font-size: 11px;
    color: black;
    letter-spacing: 0.2em;
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputcompany {
    width: 250px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: goldenrod;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputschool {
    width: 250px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.inputdesc {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*----- PORTFOLIO -----*/
.portfoliosmall {
    padding-bottom: 10px;
}

/*----- CONTACT -----*/
.inputcontact {
    width: 180px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}