@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Questrial');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
/*----- NAV BAR -----*/
nav {
    background-color: white;

}
nav a {
    float: left;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 0.63rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0.85rem 0.98rem;
    text-decoration: none;
}
nav a:link {
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: goldenrod;
    text-decoration: none;
}
nav a:active {
    color: goldenrod;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
}
.log {
    float: right;
}
/*----- LOG IN -----*/
.dropdown-content {
    display: none;
    position: absolute;
    right: 0rem;
    margin-top: 2.6rem;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#password {
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    line-height: 2em;
    width: 10rem;
}

/*----- LINKS -----*/
/* unvisited link */
.educationpi a:link {
    color: crimson;
}

/* visited link */
.educationpi a:visited {
    color: salmon;
}

/* mouse over link */
.educationpi a:hover {
    color: goldenrod;
    text-decoration: none;
}

/* selected link */
.educationpi a:active {
    color: crimson;
}

/*----- FRONT PAGE -----*/
/*----- Front Page Image -----*/
.content {
    z-index: -1;
}
.homeimg {
    max-width: 100%;
    z-index: -1;
}

figure {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*----- Name -----*/
.centered {
    position: absolute;
    top: 45%;
    left: 30.1%;
    transform: translate(-50%, -50%);
}

#fullname {
    font-size: 5.6rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    /*text-shadow: #A8A8A8 0.0001em 0 15px;*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

/*----- Profession -----*/
#profession{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0.85rem 0.98rem;
    text-decoration: none;
}

.centered2 {
    position: absolute;
    top: 60%;
    left: 30.1%;
    transform: translate(-50%, -50%);
}

/*----- ABOUT -----*/
/*----- About Me Image -----*/
.aboutimg {
    width: 1000px;
    padding-top: 90px;
    padding-bottom: 0.85rem;
    padding-left: 11.3rem;
}
.column {
    float: left;
    width: 50%;
    padding: 0.2rem;
    position: relative;
}
/*----- About Me Text -----*/
.column2 h3 {
    padding-left: 3.76rem;
    padding-top: 5.5rem;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 40rem;
}

.aboutcolumn {
    float: left;
    padding-top: 0.65rem;
    padding-left: 3.9rem;
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.column2 {
    float: left;
    width: 40%;
    padding: 0.5rem;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.resumebutton {
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    line-height: 2em;
    background-color: crimson;
    border: none;
    color: white;
    padding: 0.25rem 0.73rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

/* ----- SKILLS -----*/

.skillsp {
    display: inline;
}

.skillsdiv {
    padding-bottom: 4rem;
}

.skillstdh {
    width: 5rem;
}

.skillstd {
    padding: 0.6rem 0px 0.6rem;
    padding-bottom: 0.75rem;
    vertical-align: top;
    width: 21rem;
}

/* ----- Skills bar -----*/
.skillsbar {
    margin-bottom: 4rem;
}

.skillsbarcontainer {
    width: 100%;
    max-width: 23rem;
    height: 1rem;
    background: gainsboro;
    overflow: hidden;
    /*border-radius: 5px;*/
}
.skillsbarvalue {
    height: 1.66em;
    float: left;
    background: goldenrod;
}
.value-00 { width: 0; }
.value-10 { width: 10%; }
.value-20 { width: 20%; }
.value-30 { width: 30%; }
.value-40 { width: 40%; }
.value-50 { width: 50%; }
.value-60 { width: 60%; }
.value-70 { width: 70%; }
.value-80 { width: 80%; }
.value-90 { width: 90%; }
.value-100 { width: 100%; }

/* ----- Skills -----*/
.skillstdh h5 {
    font-family: 'Questrial', sans-serif;
    font-size: 0.88rem;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-right: 0.3rem;
    float: left;
}

.skillstdh h6{
    font-family: 'Questrial', sans-serif;
    font-size: 0.88rem;
    font-weight: bold;
    color: #C0C0C0;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    float: left;
}


/* ----- EXPERIENCE & EDUCATION -----*/
.experiencep {
    font-family: 'Questrial', sans-serif;
    font-size: 0.69rem;
    color: black;
    letter-spacing: 0.2em;
    text-align: right;
    line-height: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.education {
    padding-bottom: 4rem;
}
.timeline h6 {
    font-family: 'Questrial', sans-serif;
    font-size: 0.88rem;
    font-weight: bold;
    color: goldenrod;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.time {
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    color: crimson;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: right;
    line-height: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 12rem;
}
.educationp {
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.educationpi {
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1.3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
table {
    border-spacing: 0px;
    width: 45rem;
    margin-left: 25%;
}
tr {
    margin-bottom: 1rem;
}
.timeline {
    border-left: 0.01rem solid grey;
    width: 80rem;
}

td {
    padding: 1rem 1.4rem 1rem;
    padding-bottom: 0.74rem;
    vertical-align: top;
}
/* ----- PORTFOLIO -----*/
.portfolio h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.portfolio h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: goldenrod;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.portfolio {
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

.row2::after {
    content: "";
    clear: both;
    display: table;
}
.row2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.columncontainer {
    float: left;
    width: 25%;
    padding: 0.35rem;
    position: relative;
}
/* ----- Mouseover -----*/
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}
.columncontainer:hover .image {
    opacity: 0.3;
}
.columncontainer:hover .middle {
    /*background-color: goldenrod;*/
    opacity: 1;
}
.text {
    font-family: 'Roboto', sans-serif;
    color: darkgoldenrod;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.portfolioinfo {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 0.8rem;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.1em;
}
/*----- CONTACT -----*/
.contact {
    background-color: goldenrod;
    margin-top: 5rem;
    padding-bottom: 4rem;
}
/*----- Get In Touch -----*/
.contact h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    border: 0.3rem solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 25rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}
/*----- Column Headers -----*/
.columncontainer2 h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
/*----- Contact Text -----*/
.contactp {
    font-family: 'Questrial', sans-serif;
    font-size: 0.75rem;
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.columncontainer2 img {
    float: right;
    clear: right;
}
.columncontainer3 img {
    float: right;
    clear: right;
}

.columncontainer2 {
    float: left;
    width: 15%;
    padding: 0.3rem;
    position: relative;
}
.columncontainer3 {
    float: left;
    width: 10%;
    padding: 0.3rem;
    position: relative;
}
.columncontainer4 {
    float: left;
    width: 15%;
    padding: 0.3rem;
    margin-left: 2.5rem;
    position: relative;
}

.icon {
    /*https://www.iconfinder.com/iconsets/red-website-beauty
      https://www.iconfinder.com/iconsets/bubble-gradient-social-media-1*/
    width: 50px;
    /*filter: grayscale(100%) contrast(200%) brightness(200%);*/
}

