
.close {
    float: right;
    margin-top: 50px;
    margin-right: 60px;
    height: 20px;
    width: 20px;
}

/*----- HEADER -----*/
.projecthead {
    left: 50%;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*text-shadow: #A8A8A8 0.0001em 0 15px;*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-top: 30px;
    clear: right;
}

/*----- CONTENT FRAME -----*/
.row {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}

/*----- PROJECT -----*/
/*----- Image -----*/
.projectimg {
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 10px;
    padding-left: 170px;
}
.columnportfolio {
    float: left;
    width: 50%;
    padding: 5px;
    position: relative;
    padding-top: 60px;
}

/*----- Text Frame -----*/
.columnportfolio2 {
    float: left;
    width: 40%;
    padding: 5px;
    padding-top: 60px;
}

/*----- Description Header -----*/
h32 {
    padding-left: 40px;
    padding-top: 60px;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
}
/*----- Description Text -----*/
.portfoliocolumn {
    float: left;
    padding-top: 10px;
    padding-bottom: 64px;
    padding-left: 40px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

