input:focus::-webkit-input-placeholder {
    color:transparent;
}
input[type="file"] {
    display: none;
}
.contentportfolioedit .button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 6px 20px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-left: 295px;
}
.contentportfolioedit .close {
    float: right;
    margin-top: 50px;
    margin-right: 60px;
    height: 20px;
    width: 20px;
}

/*----- HEADER -----*/
.contentportfolioedit .projecthead {
    left: 50%;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-top: 30px;
    clear: right;
}
.contentportfolioedit .inputfullname {
    left: 50%;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: right;
    width: 550px;
}

/*----- CONTENT FRAME -----*/
.contentportfolioedit .row {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}

/*----- PROJECT -----*/
/*----- Image -----*/
.contentportfolioedit .projectimg {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-left: 170px;
}
.contentportfolioedit .columnportfolio {
    float: left;
    width: 50%;
    padding: 5px;
    position: relative;
    padding-top: 50px;
}
.contentportfolioedit .labelportfolio {
    margin-left: 170px;
    margin-top: 0px;
    padding-top: 170px;
    padding-bottom: 170px;
    padding-left: 120px;
    padding-right: 100px;
}
.contentportfolioedit label {
    margin-left: 100px;
    margin-top: 130px;
    margin-bottom: 10px;
    background: #F0F0F0;
    display: table;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    width: 379px;
}

/*----- Text Frame -----*/
.contentportfolioedit .columnportfolio2 {
    float: left;
    width: 40%;
    padding: 5px;
    padding-top: 15px;
}
.contentportfolioedit .inputh3 {
    margin-left: 40px;
    margin-top: 40px;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 470px;
}

/*----- Description Header -----*/
.contentportfolioedit .columnportfolio2 h3 {
    padding-left: 38px;
    margin-top: 40px;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    width: 540px;
}
/*----- Description Text -----*/
.contentportfolioedit .portfoliocolumn {
    float: left;
    padding-top: 10px;
    padding-bottom: 64px;
    padding-left: 40px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
}
.contentportfolioedit .inputportfoliocolumn {
    float: left;
    margin-top: 10px;
    margin-bottom: 64px;
    margin-left: 0px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
    width: 470px;
}

