@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    margin: 0;
}

.columnleft {
    float: left;
    width: 36%;
    padding: 5px;
    position: relative;
}
.columnright {
    float: left;
    width: 64%;
    padding: 5px;
    position: relative;
}

.close {
    float: right;
    margin-top: 50px;
    margin-right: 60px;
    height: 20px;
    width: 20px;
}

/* ----- RIGHT SIDE -----*/

/*----- INTRODUCTION -----*/
h3 {
    padding-left: 0px;
    padding-top: 60px;
    margin-block-end: 0em;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
}
.profession {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: goldenrod;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 20px;
    padding-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.resumecolumn {
    float: left;
    padding-top: 10px;
    padding-bottom: 64px;
    padding-left: 0px;
    padding-right: 120px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 2em;
}

.column2 {
    float: left;
    width: 40%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ----- EXPERIENCE & EDUCATION -----*/
table {
    margin-bottom: 30px;
}
td {

    padding-bottom: 20px;
}

.td {
    width: 255px;
}

h73{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    padding-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.resumetable {
    margin-left: 0px;
    padding-left: 44px;
    width: 100%;
}
.time {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: crimson;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    padding-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 200px;
}

.experiencep {
    font-family: 'Questrial', sans-serif;
    font-size: 11px;
    color: black;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 20px;
    padding-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h6 {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: goldenrod;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.educationpi {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.educationp {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/* ----- LEFT SIDE -----*/

/*----- IMAGE -----*/
/*----- Image -----*/
.img {
    width: 325px;
    height: 250px;
    padding-top: 64px;
    padding-left: 140px;
    margin-bottom: 87px;
}

h74{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    width: 100%;
    padding-left: 140px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
/* ----- PERSONAL INFO -----*/
.infoh {
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    color: goldenrod;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 20px;
    padding-top: 10px;
    padding-left: 140px;
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.infocolumn {
    float: left;
    padding-left: 140px;
    padding-right: 70px;
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
    width: 100%;
    letter-spacing: 0.1em;
    line-height: 2em;
}

/* ----- SKILLS -----*/

.skillstable {
    margin-left: 140px;
}
/* ----- Skills -----*/
h7 {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-right: 5px;
    float: left;
}
h72{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #C0C0C0;
    letter-spacing: 0.1em;
    text-align: left;
    line-height: 20px;
    padding-left: 5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    float: left;
}

.skillsp {
    display: inline;
}

.skillsdiv {
    padding-bottom: 60px;
    width: 350px;
}

.skillstdh {
    width: 100px;
}

.skillstd {
    padding: 2px 0px 0px;
    padding-bottom: 12px;
    vertical-align: top;
    width: 330px;
}

/* ----- Skills bar -----*/
.skillsbar {
    margin-bottom: 26px;
}

.skillsbarcontainer {
    width: 100%;
    max-width: 350px;
    height: 15px;
    background: gainsboro;
    overflow: hidden;
    /*border-radius: 5px;*/
}
.skillsbarvalue {
    height: 1.66em;
    float: left;
    background: goldenrod;
}
.value-00 { width: 0; }
.value-10 { width: 10%; }
.value-20 { width: 20%; }
.value-30 { width: 30%; }
.value-40 { width: 40%; }
.value-50 { width: 50%; }
.value-60 { width: 60%; }
.value-70 { width: 70%; }
.value-80 { width: 80%; }
.value-90 { width: 90%; }
.value-100 { width: 100%; }

